* {
    box-sizing: border-box;
  }

  html body {
    font-family: 'Roboto Condensed', sans-serif;
  }



  /* LOG IN CSS **/
  header {
    text-align: center;
    font-size: 26px;
    position: relative;
  }
  
  #login {
    background: #f2f2f2;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: 2px solid black;
  }

  .login-text h2 {
    font-size: 30px;
  }
  
  .demo {
    text-align: center;
  }
  
  .login-form input {
    margin-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
    border-radius: 6px;
    border: solid 1px #c4c4c4;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  }

  
fieldset {
    border: none;
    font-size: 18px;
  }
  
  fieldset p {
    text-align: center;
    font-size: 16px;
    margin-bottom: 10px;
  }

  button {
    margin-top: 20px;
    padding: 3px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #333333;
    color: #f2f2f2;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.20);
  }

  button:hover {
    color: yellow;
  }
  
/*****/