
navigation {
    display: block;
    position: relative;
    width: 100%;
    float: right;
    margin-bottom: 85px;
    margin-top: 25px;
    margin-right: 25px;
}

.nav-sign-up {
    text-decoration: none; 
    float: right;
    margin-right: 15px;
}

.nav-log-in, .nav-demo {
    text-decoration: none;
    float: right;
    margin-right: 40px;
}


h1 {
    display: inline;
    font-size: 50px;
}

header {
    text-align: center;
}

p {
    text-align: center;
}