* {
    box-sizing: border-box;
  }
  
  /*** Navigation Styling ***/
  
  
  html body {
    background: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 50px;
    overflow-x: hidden;
  }
  
  nav {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-logo {
    color: tan;
  }
  
  nav a {
    text-decoration: none;
    color:inherit;
  }
  nav ul {
      text-align: center;
      overflow: hidden;
      background:black;
      color: white;
      margin: 0;
      padding: 0;
      letter-spacing: 1.5px;
  }

nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 22px;
}

nav ul .nav-hover:hover {
    color: orange;
}


h1 {
  text-align: center;
  font-family: 'Homenaje';
}



/**** start display ***/

.start-display {
  padding-top: 100px;
  text-align: center;
}


header {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  width: 60%;
 
}


h1.logo {
  font-size: 50px;
  margin-bottom: 15px;
}

.search-form {
  padding: 30px;
}

.search-form input {
  height: 50px;
  width: 250px;
  padding: 10px;
  border: 0px;
}

.search-form button {
  height: 50px;
  width: 100px;
  border: 0px;
  border-radius: 5px;
  margin-left: 10px;
  box-shadow: 0 0 5px black;
  font-size: 21px;
}


/*****/

div .result-image {
  width: 100%;
  float: left;
  height: 15em;
  background-size: cover;
  background-position: center center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.col-3,
.result {
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
  background: rgba(230, 223, 223, 0.7);
  width: 100%;
}

.result-description {
  padding: 10px;
  overflow: hidden;
  font-size: 0.9em;
  text-align: justify;
}

.result-description h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 1.3em;
  ;
}

#foursquare-results span {
  display: inline-block;
  border-radius: 5px;
  vertical-align: top;
  height: 32px;
  background-color: #ccc;
  padding: 0;
}

#foursquare-results span.icon-text {
  padding: 8px 4px 0 4px;
}

.row {
  padding-left: 20px;
  margin: 0 auto;
  padding-right: 20px;
  max-width: 1000px;
}

#venue-type-form{
 display: inline-block;
}



.venue-form{
  text-align: center;
  margin-top: 0px;
  margin-right: 60px;
  width: 40%;
}



/**** HANDLE MENU****/
.handle {
  width: 100%;

  text-align: left;
  padding: 12px 10px;
  cursor: pointer;
  display: none;
  height:65px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.handle-menu {
  position: relative;
  top: 10px;
  font-size: 20px;
  font-family: 'Roboto Condensed';

}

.bars {
  float:right;
  color: #f2f2f2;
  font-size: 21px;
  position: relative;
  bottom: 10px;
  margin-right: 10px;
}

/*** RESPONSIVE DESIGN ***/
@media screen and (max-width: 645px) {
  nav ul {
    max-height: 0;
    background-color: rgba(255,255,255,.93);
    color:black;
    
  }

  nav{
    background-color: black;
    color: tan;
    top: 0;
    left: 0;
    right: 0;
    font-family: 'Times New Roman';
  }

  .showing {
    max-height: 22em;
  }

  nav ul li {
    width: 100%;
    padding: 18px 15px;
    font-size: 17px;
  }

  .handle {
    display:inline-block;
  }

  .nav-left {
    position: static;
  }

  .nav-right {
    position: static;
  }

}



@media screen and (min-width: 640px) {
  .col-3 {
      display: inline-block;
      width: 30%;
      height: 90%;
      vertical-align: text-top;
  }
}


@media screen and (min-width: 50px) {
  form button {
      margin-top: 15px;
  }
}