* {
    box-sizing: border-box;
  }
 
/***** NAV SECTION *****/

html body {
    width: 100%;
    background: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif;
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
 
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.nav-logo {
    color:tan;
  }

  nav a {
    text-decoration: none;
    color: inherit;
  }
  
  nav ul {
    text-align: center;
    background: black;
    overflow: hidden;
    margin: 0;
    padding: 0;
    color: white;
    letter-spacing: 2px;
    
  }

  nav ul li {
      display: inline-block;
      padding: 22px;
      font-size: 20px;
  }

  nav ul .nav-hover:hover {
    color: gold;
  }

.title {
    margin-top: 40px;
    margin-left: 15px;
    text-align: left;
    top: 10px;

    position: absolute;
    background: #f2f2f2;
    color: #333333;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 24px;
}

.new-brew-form {
    position: absolute;
    width: 50%;
    top: 150px;
    left: 20px;
    margin-right: 25px;
    margin-left: 25px;
}
#brew-title {
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 20px;
    border: solid 1px #c4c4c4;
}

.brew-address {
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px #c4c4c4;
    font-size: 20px;
}

.brew-type {
    margin-bottom: 15px;
    margin-top: 2px;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: solid 1px #c4c4c4;
    font-size: 20px;
}

textarea {
    border-radius: 5px;
    border: solid 1px #c4c4c4;  
    resize: none;
    padding: 8px 10px;
    overflow: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.submit {
    letter-spacing: 1px;
}
.submit {
    margin-top: 100px;
    margin-left: -70px;
    font-size: 20px;
    display: inline-block;
   

  }

button {
    padding: 5px;
    width: 152px;
    margin-top: 380px;
    padding-top: 10px;
    padding-bottom: 7px;
    border-radius: 7px;
    margin-left: 10;
    background-color: #333333;
    color: tan;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 20px;
  }

  
  