* {
    box-sizing: border-box;
  }
  
  /*Navigation*/
  
  html body {
    background: #f2f2f2;
    font-family: 'Roboto Condensed', sans-serif;
    padding-bottom: 50px;
    overflow-x: hidden;
  }
  .header {
      font-size: 50px;
      margin-top: 90px;
      margin-left: 20px;
      text-align: left;

  }

  nav {
    position: fixed;
    top:0;
    left:0;
    right: 0;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .nav-logo {
    color: tan;
  }
  
  nav a {
    text-decoration: none;
    color:inherit;
  }
  nav ul {
      text-align: center;
      overflow: hidden;
      background:black;
      color: white;
      margin: 0;
      padding: 0;
      letter-spacing: 1.5px;
  }

nav ul li {
    display: inline-block;
    font-size: 20px;
    padding: 22px;
}

nav ul .nav-hover:hover {
    color: orange;
}


/****/




.acd-content {
    display: none;
    overflow: hidden;
    padding: 10px;
    font-size: 15px;
    background-color: #f3f3f3;
  }
  .acd-content p {
    color: black;
  }

  .btn {
    display: block;
    border: none;
    outline: 0;
    padding: 15px 15px;
    color: tan;
    background-color: #333333;
    cursor: pointer;
    width: 100%;
    text-align: left;
    font-size: 17px;
    position: relative;
    margin-bottom: 7px;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
  }
  .btn:after {
    color:tan;
    font-weight: bold;
    content: '\002B';
    margin-left: 5px;
    float: right;
  }

  .btn:hover {
    color: gold;
  }

  .delete-btn,
.edit-btn {
    margin-bottom: 5px;
    position: relative;
    float: right;
    bottom: 10px;
    padding: 5px;
    width: 150px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #333333;
    color: tan;
    margin-right: 50px;
    box-shadow: 0 0 5px black;
}

.delete-btn:hover,
.edit-btn:hover {
  color: gold;
}
